<div class='row'>
  <div class='small-12 columns quote'>
  <h1>Need some inspiration? Click <a href='/quotes'>Here!</a></h1>
    <p>
      <%= @rquote.content %>
    </p>
    <p>
      <strong>Launcher:</strong>
      <%= @rquote.author %>
    </p>
    <p>
      <strong>Cohort:</strong>
      <%= @rquote.cohort %>
    </p>
  </div>
</div>

