<h1>Need some inspiration?  Click Refresh!</h1>

<p>
  <strong>Quote:</strong>
  <%= @rquote.content %>
  <br>
</p>
<p>
  <strong>Author:</strong>
  <%= @rquote.author %>
</p>


<%= link_to 'New quote', new_quote_path %>
