<div class='row'>
  <div class='small-centered columns quote'>
    <h1>What keeps you going on those difficult days?</h1>
    <h2>Share your words of wisdom!</h2>
    <%= render 'form' %>
  </div>
</div>




