<%= notice %>
<div class='row'>
  <div class="small-12 columns welcome">
    <h1><strong>Welcome to Launchspiration!<strong></h1>
      <h2>
      For those days when the coding gets tough...<br>
      Generate motivational quotes from those that have come before you.
      Then add your own for future cohorts!
      </h2>
  </div>
</div>




